{% extends "base.html" %}

{% block body %}
  
  <h2>ResourceSync Wikipedia Adapter overview</h2>

  <p>Wikipedia endpoint: <b><a target="_blank" href="irc://{{ source.config['host'] }}">{{ source.config['host'] }}</a></b></p>
  <p>IRC-Channel: <b><a target="_blank" href="#{{ source.config['host'] }}">#{{ source.config['channel'] }}</a></b></p>
  <p>Fetched resources: <b>{{ resource_count }} </b>
    (<a href="/resources">view sample)</a>
  </p>

  
  {% if source.has_inventory_builder %}
  <br />

  <h3>Inventory</h3>
  <p>URI: <a href="{{ source.inventory_builder.uri }}">{{ source.inventory_builder.uri }}</a></p>
  <p>Implementation: <b>{{ source.inventory_builder.config['class'] }}</b></p>
  {% for (k,v) in source.inventory_builder.config.iteritems() %}
    {% if not k == "class" %}
    <p> {{ k }}: {{ v }}</p>
    {% end %}
  {% end %}
  
  {% end %}
  
  {% if source.has_changememory %}
  <br />

  <h3>Change Memory</h3>
  <p>Implementation: <b>{{ source.changememory.config['class'] }}</b></p>
  <p>URI: <a href="{{ source.changememory.base_uri }}">{{ source.changememory.base_uri }}</a></p>
  <p>Number of stored changes: <b>{{ source.changememory.change_count }}</b></p>
  {% for (k,v) in source.changememory.config.iteritems() %}
    {% if not k == "class" %}
    <p> {{ k }}: {{ v }}</p>
    {% end %}
  {% end %}
  
  {% end %}  

{% end %}